name: release

on:
  workflow_dispatch: {}
  push:
    branches:
      - "main"

env:
  MIN_SUPPORTED_RUST_VERSION: "1.86.0"
  CICD_INTERMEDIATES_DIR: "_cicd-intermediates"
  CARGO_TERM_COLOR: always
  #Fix these up soon
  #RUSTFLAGS: "-D warnings"

jobs:
  lint-test-release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6.0.2

      - name: Install Rust Toolchain (v${{ env.MIN_SUPPORTED_RUST_VERSION }})
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ env.MIN_SUPPORTED_RUST_VERSION }}
          components: clippy

      - name: Run Clippy
        run: cargo clippy --all-features --all-targets

      - name: Run Tests
        run: cargo test

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5.5.2

      - name: Check for Release
        id: is-release
        shell: bash
        run: |
          if [[ $GITHUB_REF =~ ^refs/tags/v[0-9].* ]]; then
            echo "IS_RELEASE=true" >> "$GITHUB_OUTPUT"
          else
            echo "IS_RELEASE=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Cargo Publish "comtrya-lib"
        if: steps.is-release.outputs.IS_RELEASE
        run: cargo publish -p comtrya-lib --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Cargo Publish "comtrya"
        if: steps.is-release.outputs.IS_RELEASE
        run: cargo publish -p comtrya --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  build:
    name: Build-${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os_name: Linux-x86_64-gnu
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: comtrya
            name: comtrya-x86_64-unknown-linux-gnu
            cross: false
            cargo_command: cargo
            skip_tests: false
          - os_name: Linux-aarch64-gnu
            os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            bin: comtrya
            name: comtrya-aarch64-unknown-linux-gnu
            cross: false
            cargo_command: ./cross
            skip_tests: false
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: comtrya.exe
            name: comtrya-x86_64-pc-windows-msvc
            cross: false
            cargo_command: cargo
            skip_tests: false
          - os_name: macOS-x86_64
            os: macos-15-intel
            target: x86_64-apple-darwin
            bin: comtrya
            name: comtrya-x86_64-apple-darwin
            cross: false
            cargo_command: cargo
            skip_tests: false
          - os_name: macOS-aarch64
            os: macos-latest
            target: aarch64-apple-darwin
            bin: comtrya
            name: comtrya-aarch64-apple-darwin
            cross: false
            cargo_command: ./cross
            skip_tests: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1.0.5
        with:
          command: "build"
          target: ${{ matrix.platform.target }}
          toolchain: stable
          args: "--release"

      - name: Rename Binary
        if: matrix.platform.target != 'x86_64-pc-windows-msvc'
        shell: bash
        run: |
          mv target/${{ matrix.platform.target }}/release/comtrya comtrya-${{ matrix.platform.target }}

      - name: Rename Binary.exe
        if: matrix.platform.target == 'x86_64-pc-windows-msvc'
        shell: bash
        run: |
          mv target/${{ matrix.platform.target }}/release/comtrya.exe comtrya-${{ matrix.platform.target }}.exe

      - name: Upload Artifact
        if: matrix.platform.target != 'x86_64-pc-windows-msvc'
        uses: softprops/action-gh-release@v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: false
          name: Unreleased
          generate_release_notes: false
          fail_on_unmatched_files: true
          files: |
            comtrya-${{ matrix.platform.target }}

      - name: Upload Artifact.exe
        if: matrix.platform.target == 'x86_64-pc-windows-msvc'
        uses: softprops/action-gh-release@v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: false
          name: Unreleased
          generate_release_notes: false
          fail_on_unmatched_files: true
          files: |
            comtrya-${{ matrix.platform.target }}.exe

  build-musl:
    runs-on: ubuntu-latest
    container: clux/muslrust:stable
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6.0.2

      - name: Link to muscl Toolchain
        run: |
          ln -s /root/.cargo $HOME/.cargo
          ln -s /root/.rustup $HOME/.rustup

      - name: Handle Rust Dependencies Caching
        uses: Swatinem/rust-cache@v2.8.2
        with:
          key: v1-linux-musl

      - name: Build Release Binary
        run: cargo build --release

      - name: Rename Binary
        shell: bash
        run: |
          mv target/x86_64-unknown-linux-musl/release/comtrya target/x86_64-unknown-linux-musl/release/comtrya-x86_64-unknown-linux-musl

      - name: Upload release archive
        uses: softprops/action-gh-release@v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: false
          name: Unreleased
          generate_release_notes: false
          fail_on_unmatched_files: true
          files: |
            target/x86_64-unknown-linux-musl/release/comtrya-x86_64-unknown-linux-musl
